APS_CLIENT_ID=CP72t6t9fZ3MCmCuHlD6o0Kmb2vSWkSvkB77gixfGKEyzvhr
APS_CALLBACK_URL=https://grainger-bc-mobile.onrender.com/oauth/callback
SESSION_SECRET=change-this-to-a-random-string
PORT=3000
NODE_ENV=development
